.game {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
            border-collapse: collapse;

/*padding: 0px
border-collapse: collapse;
border-style: solid;
border-width: 60px;

border-image: url(border.png) 15 repeat;
   /* background-image: url(border.png);
*/
}

.square{
    width:100px;
    height:100px;
}

.game td{
    border: 0px;
        border-collapse: collapse;

}

.game td:nth-child(2){
        border-collapse: collapse;

    border-left:30px solid #000 transparent;
    border-right:30px solid #000 transparent;
    border-image: url(border.png) 15 repeat;
}


.game tr:nth-child(2) {
    border-collapse: collapse;
    border-top:30px solid #000;
    border-bottom:30px solid #000;
    border-image: url(border.png) 15 repeat;
}

/*
.game tr:nth-child(2) td{
    border-top:30px solid #000;
    border-bottom:30px solid #000;
    border-image: url(border.png) 15 repeat;
}
*/
.game td{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    color: pink;
/*  border-style: solid;

    border: 30px solid transparent; */


}

/*.game td:nth-child(1){
    border: 0px, 0px, 0px, 5px solid;
}*/
p{
    border-collapse: collapse;

}