body{
    padding-top:60px;
}

@media (max-width < 500){
    body{
        max-width:414;
    };
}

.board {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
	background-color: black;
/*padding: 0px
border-collapse: collapse;
border-style: solid;
border-width: 60px;

border-image: url(border.png) 15 repeat;
   /* background-image: url(border.png);
*/
}

#thestickything{
    position: -webkit-sticky;
	position: sticky;
	top: 60px;
	background-color: rgba(255,255,255,0.95);
}

#selector{
    color: #30FCFF;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 0 0 5px #2B00FF, 0 0 10px #2B00FF, 0 0 15px #2B00FF, 0 0 20px #2B00FF, 0 0 35px #2B00FF;
    margin-top:60px;
    z-index: 500;
    background-color: white;
    margin-top: 40px;
    max-width: 414px;
    min-width: 320px;
}

#aiselection{
    margin-top: 30px;
    color: #30FCFF;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 0 0 5px #2B00FF, 0 0 10px #2B00FF, 0 0 15px #2B00FF, 0 0 20px #2B00FF, 0 0 35px #2B00FF;
    margin-top:60px;
    z-index: 500;
    background-color: white;
    margin-top: 40px;
    max-width: 414px;
    min-width: 320px;
}

#winner{
    font-family: 'Permanent Marker', cursive;
    color: deeppink;
    font-size: 40px;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

a:link{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

#aiselection .cloud{
    margin-top: 30px;
    margin-left: -20px;
}

.playbutton{
    margin-bottom: 20px;
    color: #30FCFF;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 0 0 5px #2B00FF, 0 0 10px #2B00FF, 0 0 15px #2B00FF, 0 0 20px #2B00FF, 0 0 35px #2B00FF;
    margin-top:60px;
    z-index: 500;
    background-color: white;
    margin-top: 40px;
    max-width: 414px;
    min-width: 320px;
}

#aiselection img{
    margin-top: -160px;
    margin-left: 200px;
}

#selector img{
    margin-top: -160px;
    margin-left: 200px;
}

#selector .cloud{
    margin-left: -20px;
}

#aiselection p{
    padding-left: 0px;
    margin-top: 0px;
}

#littlebox{
    margin:0px;
    margin-right: 1px;
    padding:0px;
    background-image: url(littlebox.png);
    width: 52px;
    height: 45px;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 1000;
}

#verytop{
    font-family: 'Paytone One', sans-serif;
    color: #704def;
    width:100%;
    position:fixed;
    padding: 0px;
    margin: 0px;
    height: 60px;
    top: 0px;
    z-index: 999;
    background-color: rgba(255,255,255,0.95);
    font-size: 38px;
}

h1{
    font-family: 'Paytone One', sans-serif;
    color: #704def;
}

#navbar{
    padding-bottom: 70px;
    color: #30FCFF;
    text-shadow: 0 0 5px #2B00FF, 0 0 10px #2B00FF, 0 0 15px #2B00FF, 0 0 20px #2B00FF, 0 0 35px #2B00FF;
    font-family: 'Paytone One', sans-serif;
    margin-top:60px;
    z-index: 500;
    background-color: white;
    margin-top: 20px;
    max-width: 414px;
    min-width: 320px;
    position: fixed;
    right: 0px;
}

#navbar a{
    text-decoration: none;
    color: inherit;
    width: 400;
}

.cloud{
    width: 240px;
    height: 160px;
    margin-top: -100;
    margin-bottom: -40;

    background-image: url(cloud.png);
    background-repeat:no-repeat;
    background-position: center center;

    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    /*padding-left: 90px;
    padding-top: 65px;
    padding-right: 90px;
    padding-bottom: 65px;*/
}

.right{
    display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */

    justify-content: flex-end; /* center items vertically, in this case */
    align-items: right;     /* center items horizontally, in this case */}

.left{
    display: flex;           /* establish flex container */
        flex-direction: rox;  /* make main axis vertical */

    justify-content: flex-start; /* center items vertically, in this case */
    align-items: left;     /* center items horizontally, in this case */}
}

#game{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

p{
    font-family: 'Raleway', cursive;
    color: #001263;
    text-shadow:none;
}

.board a {
    text-decoration: none;
    color: red;
}

.board td{
    border: 0px;
	border-image: url(board2.png);
	border-image-slice: 20% fill;
	border-left: 1px;
}

.board td:nth-child(2){
    border-left:30px solid #000;
    border-right:30px solid #000;
    border-image: url(board2.png);
	border-image-slice: 20% fill;
}


.board tr:nth-child(2) td{
    border-top:30px solid #000;
    border-bottom:30px solid #000;
    border-image: url(board2.png);
	border-image-slice: 20% fill;
}

/*
.board tr:nth-child(2) td{
    border-top:30px solid #000;
    border-bottom:30px solid #000;
    border-image: url(border.png) 15 repeat;
}
*/
.board td{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    color: deeppink;
    text-shadow: 0 0 5px pink, 0 0 10px pink, 0 0 15px pink, 0 0 20px pink, 0 0 35px pink;
/*  border-style: solid;

    border: 30px solid transparent; */
}

/*.board td:nth-child(1){
    border: 0px, 0px, 0px, 5px solid;
}*/